[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "nuitka --mingw64 --standalone --onefile --follow-imports --include-package=colorama --include-package=requests --include-package=urllib3 --include-package=certifi --windows-icon-from-ico='EDCBNotifier.ico' --windows-console-mode=disable --assume-yes-for-downloads EDCBNotifier.py"

[packages]
colorama = "*"
"mastodon.py" = "*"
nuitka = "*"
jaconv = "*"
requests = "*"
"ruamel.yaml" = "*"
twitter = "*"
zstandard = "*"

[dev-packages]

[requires]
python_version = "3.9"
